<a href="https://colab.research.google.com/github/PEDALAMANIDEEP/task-elevate1/blob/main/task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('marketing_campaign.csv', sep='\t')  # File uses tab separator
print(df.info())
print(df.head())
print(df.isnull().sum())
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

# Print the column names after cleaning
print("\nColumns after cleaning:")
print(df.columns)

df = df.dropna()
df = df.drop_duplicates()

# Convert date column to datetime
# Check if 'dt_customer' exists before attempting to convert
if 'dt_customer' in df.columns:
    df['dt_customer'] = pd.to_datetime(df['dt_customer'], format='%d-%m-%Y', errors='coerce')
else:
    print("\n'dt_customer' column not found in the DataFrame.")


# Convert numeric columns
# Add checks for column existence before attempting conversions
if 'income' in df.columns:
    df['income'] = pd.to_numeric(df['income'], errors='coerce')
else:
    print("\n'income' column not found.")

if 'kidhome' in df.columns:
    df['kidhome'] = df['kidhome'].astype(int)
else:
    print("\n'kidhome' column not found.")

if 'teenhome' in df.columns:
    df['teenhome'] = df['teenhome'].astype(int)
else:
     print("\n'teenhome' column not found.")

if 'education' in df.columns:
    df['education'] = df['education'].str.strip().str.title()
else:
    print("\n'education' column not found.")

if 'marital_status' in df.columns:
    df['marital_status'] = df['marital_status'].str.strip().str.upper()
else:
    print("\n'marital_status' column not found.")


df.to_csv('cleaned_customer_personality.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                    Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                    --------------  -----
 0   ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response  2240 non-null   object
dtypes: object(1)
memory usage: 17.6+ KB
None
  ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0  5524,1957,Graduation,Single,58138,0,0,04-09-20...
1  2174,1954,Graduation,Single,46344,1,1,08-03-20...
2  4141,1965,Graduation,Together,71613,0,0,21-08-...
3  6182,1984,Graduation,Together,26646,1,0,10-02-...
4  5324,1981,PhD,Married,58293,1,0,19-01-2014,94,...
ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response    0
dtype: int64

Columns after cleaning:
Index(['id,year_birth,education,marital_status,income,kidhome,teenhome,dt_customer,recency,mntwines,mntfruits,mntmeatproducts,mntfishproducts,mntsweetproducts,mntgoldprods,numdealspurchases,numwebpurchases,numcatalogpurchases,numstorepurchases,numwebvisitsmonth,acceptedcmp3,acceptedcmp4,acceptedcmp5,acceptedcmp1,acceptedcmp2,complain,z_costcontact,z_revenue,response'], dtype='object')

'dt_customer' column not found in the DataFrame.

'income' column not found.

'kidhome' column not found.

'teenhome' column not found.

'education' column not found.

'marital_status' column not found.